#### 1. Scrape the details of most viewed videos on YouTube from Wikipedia:
#### Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
#### You need to find following details:
##### A) Rank
##### B) Name
##### C) Artist
#####  D) Upload date
##### E) Views

In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
from datetime import datetime
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium import webdriver
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
driver = webdriver.Chrome(r'C:\Users\udayakiran\Desktop\chromedriver.exe')
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/")

opensite=driver.find_element_by_xpath("//span[@class='plainlinks']/a[1]/i[1]")
opensite.click()

listofmostviewed_link=driver.find_element_by_xpath("//div[@class='mw-search-result-heading']/a[1]/span")
listofmostviewed_link.click()
time.sleep(3)
Rankofvideo,Name,Artist,views,Upload_Date=[],[],[],[],[]
for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody[1]/tr/td[1]")[:30]:
    Rankofvideo.append(i.text.replace(".",""))
#print(Rank)
for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody[1]/tr/td[2]")[:30]:
    Name.append(i.text.replace('"',''))
for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody[1]/tr/td[3]")[:30]:
    Artist.append(i.text)
for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody[1]/tr/td[4]")[:30]:
    views.append(i.text)
for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody[1]/tr/td[5]")[:30]:
    Upload_Date.append(i.text)

List_of_views=pd.DataFrame({"Rank of video":pd.Series(Rankofvideo),
                            "Name Of The Video":pd.Series(Name),
                            "Name Of The Uploader or Artist":pd.Series(Artist),
                            "No. Of Views in Billions":pd.Series(views),
                            "Upload Date":pd.Series(Upload_Date)                           
                           })
List_of_views[:5]

,Rank of video,Name Of The Video,Name Of The Uploader or Artist,No. Of Views in Billions,Upload Date
0,1,Baby Shark Dance[28],Pinkfong Kids' Songs & Stories,7.91,"June 17, 2016"
1,2,Despacito[30],Luis Fonsi featuring Daddy Yankee,7.20,"January 12, 2017"
2,3,Shape of You[31],Ed Sheeran,5.18,"January 30, 2017"
3,4,See You Again[32],Wiz Khalifa featuring Charlie Puth,4.96,"April 6, 2015"
4,5,Johny Johny Yes Papa[35],LooLoo Kids,4.77,"October 8, 2016"

#### 2. Scrape the details team Indiaâ€™s international fixtures from bcci.tv.
#### Url = https://www.bcci.tv/.
#### You need to find following details:
#### A) Match title (I.e. 1st ODI)
#### B) Series
#### C) Place
#### D) Date
#### E) Time

In [2]:
driver = webdriver.Chrome(r'C:\Users\udayakiran\Desktop\chromedriver.exe')
driver.get("https://www.bcci.tv/")
on_menu=driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']")
on_menu.click()
fixture_click=driver.find_element_by_xpath("//div[@class='drop-down__options']/ul[1]/li[1]/a[1]")
fixture_click.click()
time.sleep(3)
Date,Match_Title,Series,place,Time =[],[],[],[],[]
for i in driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']"):
    str_splt = (i.text).split()
    str_splt1=str_splt[0]+" "+str_splt[1]+" "+str_splt[2]
    str_splt2=str_splt[3]+" "+str_splt[4]
    Date.append(str_splt1)
    Time.append(str_splt2)
for i in driver.find_elements_by_xpath("//div[@class='fixture__teams']"):
    Series.append(i.text.replace("\n",' '))
for i in driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']"):
    Match_Title.append(i.text.replace("\n",' '))
for i in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span[1]"):
    place.append(i.text.replace("\n",' '))
    
details_fixtures =pd.DataFrame({"Match Titles":pd.Series(Match_Title),
                            "Series":pd.Series(Series),
                            "Place":pd.Series(place),
                            "Date":pd.Series(Date),
                            "Time":pd.Series(Time)                           
                           })
details_fixtures[:5]

,Match Titles,Series,Place,Date,Time
0,2nd Test,INDIA v ENGLAND,"M. A. Chidambaram Stadium, Chennai",Saturday 13 FEBRUARY,09:30 IST
1,3rd Test,INDIA v ENGLAND,"Sardar Patel Stadium, Ahmedabad",Wednesday 24 FEBRUARY,14:30 IST
2,4th Test,INDIA v ENGLAND,"Sardar Patel Stadium, Ahmedabad",Thursday 04 MARCH,09:30 IST
3,1st T20I,INDIA v ENGLAND,"Sardar Patel Stadium, Ahmedabad",Friday 12 MARCH,19:00 IST
4,2nd T20I,INDIA v ENGLAND,"Sardar Patel Stadium, Ahmedabad",Sunday 14 MARCH,19:00 IST

#### 3. Scrape the details of selenium exception from guru99.com.
#### Url = https://www.guru99.com/
#### You need to find following details:
#### A) Name
#### B) Description
#### Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [3]:
driver = webdriver.Chrome(r'C:\Users\udayakiran\Desktop\chromedriver.exe')
driver.get("https://www.guru99.com/")
selenium_click =driver.find_element_by_xpath("//ul[@class='menu']/li[3]/a[1]")
selenium_click.click()
try:
    popup_click=driver.find_element_by_xpath("//button[@class='CloseButton__ButtonElement-sc-79mh24-0 gVNUOF aurora-CloseButton aurora-close aurora-ClosePosition--top-right']")
    popup_click.click()
except NoSuchElementException:
    print("There is no Login Popup Shown")
tutorial_click =driver.find_element_by_xpath("//div[@class='item-page']/div[2]/table[5]/tbody[1]/tr[34]/td[1]")
tutorial_click.click()
Exception_Name,Exception_Desc=[],[]
WebDriverWait(driver, 20).until(EC.presence_of_element_located((By.XPATH, "//table[@class='table table-striped']/tbody[1]/tr")))
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody[1]/tr")[1:]:
#for i in list1:
    dat=(i.text).split()
    Exception_Name.append(dat[0])
    Exception_Desc.append(" ".join(dat[1:]))
list_of_excep=pd.DataFrame({"Exception Name": Exception_Name,
                            "Exception_Description": Exception_Desc})
list_of_excep[:5]

There is no Login Popup Shown

,Exception Name,Exception_Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...

#### 4. Scrape the details of State-wise GDP of India from statisticstime.com.
#### Url = http://statisticstimes.com/
#### You have to find following details:
#### A) Rank
#### B) State
#### C) GSDP(18-19)
#### D) GSDP(17-18)
#### E) Share(2017)
#### F) GDP($ billion)

In [4]:
driver = webdriver.Chrome(r'C:\Users\udayakiran\Desktop\chromedriver.exe')
driver.get("http://statisticstimes.com/")
menu = driver.find_element_by_xpath("//div[@class='navbar']/div[2]")
menu.click()
drop_down=driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div[1]/a[3]")
drop_down.click()
statewise=driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li[1]/a[1]")
statewise.click()

In [5]:
Rank_Of_State,Name_Of_State,GSDP_18_19,GSDP_19_20,share,GDP_Billions=[],[],[],[],[],[]
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody[1]/tr/td[1]"):
    Rank_Of_State.append(i.text)
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody[1]/tr/td[2]"):
    Name_Of_State.append(i.text)
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody[1]/tr/td[4]"):
    GSDP_18_19.append(i.text)
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody[1]/tr/td[3]"):
    GSDP_19_20.append(i.text)
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody[1]/tr/td[5]"):
    share.append(i.text)
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody[1]/tr/td[6]"):
    GDP_Billions.append(i.text)
state_wise_df = pd.DataFrame({"Rank":Rank_Of_State,
                              "Name_Of_State":Name_Of_State,
                              "GSDP 18-19":GSDP_18_19,
                              "GSDP 19 20":GSDP_19_20,
                              "Share":share,
                              "GDP (in Billions)":GDP_Billions
                             })
state_wise_df[:5]

  Rank  Name_Of_State GSDP 18-19 GSDP 19 20   Share GDP (in Billions)
0    1    Maharashtra  2,632,792          -  13.88%           398.145
1    2  Uttar Pradesh  1,668,229  1,794,508   8.79%           252.278
2    3     Tamil Nadu  1,630,208  1,845,853   8.59%           246.529
3    4      Karnataka  1,544,399  1,699,115   8.14%           233.552
4    5        Gujarat  1,502,899          -   7.92%           227.276

#### 5. Scrape the details of trending repositories on Github.com.
#### Url = https://github.com/
#### You have to find the following details:
#### A) Repository title
#### B) Repository description
#### C) Contributors count
#### D) Language used

In [2]:
driver = webdriver.Chrome(r'C:\Users\udayakiran\Desktop\chromedriver.exe')
driver.get("https://github.com/")

In [7]:
explore=driver.find_element_by_xpath("//ul[@class='d-lg-flex list-style-none']/li[4]/details[1]/summary[1]")
explore.click()

In [11]:
explore=driver.find_element_by_xpath("//a[@data-ga-click='(Logged out) Header, go to Trending']").get_attribute("href")
driver.get(explore)

In [145]:
Repo_Name,Description,contibuter_count,language=[],[],[],[]
for i in driver.find_elements_by_xpath("//article[@class='Box-row']/h1"):
    Repo_Name.append(i.text)
try:
    for i in driver.find_elements_by_xpath("//article[@class='Box-row']/p[@class='col-9 text-gray my-1 pr-4']"):
        Description.append(i.text)
except NoSuchElementException:
    Description.append('-')
for i in driver.find_elements_by_xpath(".//div[@class='f6 text-gray mt-2']/span[@class='d-inline-block mr-3']"):
    contibuter_count.append(len(i.find_elements_by_xpath(".//a")))
try:
    for i in driver.find_elements_by_xpath("//div[@class='f6 text-gray mt-2']/span[1]/span[@itemprop='programmingLanguage']"):
        language.append(i.text)
except NoSuchElementException:
    language.append("-")
print(len(Repo_Name),len(Description),len(contibuter_count),len(language))
Trendinf_Rep_df = pd.DataFrame({"Repository title":pd.Series(Repo_Name),
                                "Repository description":pd.Series(Description),
                                "Contributors count":pd.Series(contibuter_count),
                                "Language used":pd.Series(language)
                             })
Trendinf_Rep_df[:5]

25 24 25 23

,Repository title,Repository description,Contributors count,Language used
0,satwikkansal / wtfpython,What the f*ck Python?,5,Python
1,rxi / lite,A lightweight text editor written in Lua,5,Lua
2,vlang / v,"Simple, fast, safe, compiled language for deve...",5,V
3,flybywiresim / a32nx,The A32NX Project is a community driven open s...,5,JavaScript
4,conwnet / github1s,One second to read GitHub code with VS Code.,5,TypeScript

#### 6. Scrape the details of top 100 songs on billiboard.com.
#### Url = https://www.billiboard.com/
#### You have to find the following details:
#### A) Song name
#### B) Artist name
#### C) Last week rank
#### D) Peak rank
#### E) Weeks on board
#### Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [6]:
driver = webdriver.Chrome(r'C:\Users\udayakiran\Desktop\chromedriver.exe')
driver.get("https://www.billboard.com/")
charts=driver.find_element_by_xpath("//li[@aria-controls='menu-charts-desktop']/a[1]")
charts.click()

In [15]:
hot_100=driver.find_element_by_xpath("//div[@class='charts-landing__info--view-chart-holder']/div[1]")
hot_100.click()

In [54]:
Song,Artist,Last_week,Peek_Week,Weeks_On_Board=[],[],[],[],[]
#for i in driverr.find_elements_by_xpath("")

for i in driver.find_elements_by_xpath("//li[@class='chart-list__element display--flex']/button[1]/span[2]/span[1]"):
    Song.append(i.text)
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[2]"):
    Artist.append(i.text)
for i in driver.find_elements_by_xpath("//li[@class='chart-list__element display--flex']/button[1]/div[1]/div[2]")[:1]:
    Last_week.append(i.text)
for i in driver.find_elements_by_xpath("//li[@class='chart-list__element display--flex']/button[1]/div[1]/div[1]")[1:]:
    Last_week.append(i.text)
for i in driver.find_elements_by_xpath("//li[@class='chart-list__element display--flex']/button[1]/div[1]/div[3]")[:1]:
    Peek_Week.append(i.text)
for i in driver.find_elements_by_xpath("//li[@class='chart-list__element display--flex']/button[1]/div[1]/div[2]")[1:]:
    Peek_Week.append(i.text)
for i in driver.find_elements_by_xpath("//li[@class='chart-list__element display--flex']/button[1]/div[1]/div[4]")[:1]:
    Weeks_On_Board.append(i.text)
for i in driver.find_elements_by_xpath("//li[@class='chart-list__element display--flex']/button[1]/div[1]/div[3]")[1:]:
    Weeks_On_Board.append(i.text)
#for i in driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[4]"):
    #Weeks_On_Board.append(i.text)
print(len(Song), len(Artist), len(Last_week), len(Peek_Week), len(Weeks_On_Board))
song_Rank_Table = pd.DataFrame({"Song Name":Song,
                                "Artist Name":Artist,
                                "Last Week Rank":Last_week,
                                "Peek Week Rank":Peek_Week,
                                "Weeks On Board":Weeks_On_Board
                               })
song_Rank_Table[:5]

100 100 100 100 100

,Song Name,Artist Name,Last Week Rank,Peek Week Rank,Weeks On Board
0,Drivers License,Olivia Rodrigo,1,1,4
1,Mood,24kGoldn Featuring iann dior,2,1,26
2,Blinding Lights,The Weeknd,3,1,61
3,34+35,Ariana Grande,4,2,14
4,Levitating,Dua Lipa Featuring DaBaby,5,5,18

#### 7. Scrape the details of Data science recruiters from naukri.com.
#### Url = https://www.naukri.com/
#### You have to find the following details:
#### A) Name
#### B) Designation
#### C) Company
#### D) Skills they hire for
#### E) Location
#### Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
#### click on search. All this should be done through code

In [67]:
driver = webdriver.Chrome(r'C:\Users\udayakiran\Desktop\chromedriver.exe')
driver.get("https://www.naukri.com/")

In [95]:
recruiter = driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a").get_attribute('href')
driver.get(recruiter)

In [96]:
search=driver.find_element_by_class_name("sugInp")
search.send_keys("Data Science")

In [98]:
search_button=driver.find_element_by_id("qsbFormBtn")
search_button.click()

In [125]:
Name,Designation,Company,Skills,Location=[],[],[],[],[]
for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
    if i.text is None or i.text=='':
        Name.append('-')
    else:
        Name.append(i.text)
for i in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
    if i.text is None or i.text=='':
        Designation.append('-')
    else:
        Designation.append(i.text)
for i in driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]"):
    if i.text is None or i.text=='':
        Company.append('-')
    else:
        Company.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
    if i.text is None or i.text=='':
        Skills.append('-')
    else:
        Skills.append(i.text)
for i in driver.find_elements_by_xpath("//small[@class='ellipsis']"):
    if i.text is None or i.text=='':
        Location.append('-')
    else:
        Location.append(i.text)
Recruiter_df=pd.DataFrame({"Name of Recruiter" :pd.Series(Name),
                           "Designation of Recruiter": pd.Series(Designation),
                           "Company":pd.Series(Company),
                           "Skills":pd.Series(Skills),
                           "Location":pd.Series(Location)
                          })
Recruiter_df[:5]

,Name of Recruiter,Designation of Recruiter,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune

#### 8. Scrape the details of Highest selling novels.
#### Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
#### You have to find the following details:
#### A) Book name
#### B) Author name
#### C) Volumes sold
#### D) Publisher
#### E) Genre

In [128]:
driver = webdriver.Chrome(r'C:\Users\udayakiran\Desktop\chromedriver.exe')
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")

In [135]:
Book_Name,Author_Name,Volumes_Sold,Publisher,Genre=[],[],[],[],[]
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody[1]/tr/td[2]"):
    Book_Name.append(i.text)
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody[1]/tr/td[3]"):
    Author_Name.append(i.text)
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody[1]/tr/td[4]"):
    Volumes_Sold.append(i.text)
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody[1]/tr/td[5]"):
    Publisher.append(i.text)
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody[1]/tr/td[6]"):
    Genre.append(i.text)
Book_df=pd.DataFrame({"Book_Name" :pd.Series(Book_Name),
                           "Author_Name": pd.Series(Author_Name),
                           "Volumes_Sold":pd.Series(Volumes_Sold),
                           "Publisher":pd.Series(Publisher),
                           "Genre":pd.Series(Genre)
                          })
Book_df[:5]

,Book_Name,Author_Name,Volumes_Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas

#### 9. Scrape the details most watched tv series of all time from imdb.com.
#### Url = https://www.imdb.com/list/ls095964455/
#### You have to find the following details:
#### A) Name
#### B) Year span
#### C) Genre
#### D) Run time
#### E) Ratings
#### F) Votes

In [136]:
driver = webdriver.Chrome(r'C:\Users\udayakiran\Desktop\chromedriver.exe')
driver.get("https://www.imdb.com/list/ls095964455/")

In [181]:
Name,Year_span,Genre,Runtime,Ratings,Votes=[],[],[],[],[],[]
for i in driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/h3[1]/a[1]"):
    Name.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/h3[1]/span[2]"):
    Year_span.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/p[1]/span[5]"):
    Genre.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/p[1]/span[3]"):
    Runtime.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/div[1]/div[1]/span[2]"):
    Ratings.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/p[4]/span[2]"):
    Votes.append(i.text)
TV_Shows_df=pd.DataFrame({"Name" :pd.Series(Name),
                           "Year_span": pd.Series(Year_span),
                           "Genre":pd.Series(Genre),
                           "Runtime":pd.Series(Runtime),
                           "Ratings":pd.Series(Ratings),
                          "Votes":pd.Series(Votes)
                          })
TV_Shows_df[:5]

,Name,Year_span,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011â€“2019),"Action, Adventure, Drama",57 min,9.3,"1,768,807"
1,Stranger Things,(2016â€“ ),"Drama, Fantasy, Horror",51 min,8.7,"821,291"
2,The Walking Dead,(2010â€“ ),"Drama, Horror, Thriller",44 min,8.2,"852,927"
3,13 Reasons Why,(2017â€“2020),"Drama, Mystery, Thriller",60 min,7.6,"256,069"
4,The 100,(2014â€“2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"216,283"

#### 10. Details of Datasets from UCI machine learning repositories.
#### Url = https://archive.ics.uci.edu/
#### You have to find the following details:
#### A) Dataset name
#### B) Data type
#### C) Task
#### D) Attribute type
#### E) No of instances
#### F) No of attribute
#### G) Year
#### Note: - from the home page you have to go to the ShowAllDataset page through code.

In [191]:
driver = webdriver.Chrome(r'C:\Users\udayakiran\Desktop\chromedriver.exe')
driver.get("https://archive.ics.uci.edu/")

In [196]:
Showalldataset=driver.find_element_by_xpath("//span[@class='whitetext']/a[1]/font[1]")
Showalldataset.click()

In [212]:
Dataset_Name,Data_type,task,attribute_type,No_of_instances,No_of_Attribute,year=[],[],[],[],[],[],[]
for i in driver.find_elements_by_xpath("//table[@border='1']/tbody[1]/tr/td[1]")[1:]:
    Dataset_Name.append(i.text.lstrip())
for i in driver.find_elements_by_xpath("//table[@border='1']/tbody[1]/tr/td[2]")[1:]:
    if i.text is None or i.text=='':
        Data_type.append('-')
    else:
        Data_type.append(i.text.lstrip())
for i in driver.find_elements_by_xpath("//table[@border='1']/tbody[1]/tr/td[3]")[1:]:
    if i.text is None or i.text=='':
        task.append('-')
    else:
        task.append(i.text.lstrip())
for i in driver.find_elements_by_xpath("//table[@border='1']/tbody[1]/tr/td[4]")[1:]:
    if i.text is None or i.text=='':
        attribute_type.append('-')
    else:
        attribute_type.append(i.text.lstrip())
for i in driver.find_elements_by_xpath("//table[@border='1']/tbody[1]/tr/td[5]")[1:]:
    if i.text is None or i.text=='':
        No_of_instances.append('-')
    else:
        No_of_instances.append(i.text.lstrip())
for i in driver.find_elements_by_xpath("//table[@border='1']/tbody[1]/tr/td[6]")[1:]:
    if i.text is None or i.text=='':
        No_of_Attribute.append('-')
    else:
        No_of_Attribute.append(i.text.lstrip())
for i in driver.find_elements_by_xpath("//table[@border='1']/tbody[1]/tr/td[7]")[1:]:
    if i.text is None or i.text=='':
        year.append('-')
    else:
        year.append(i.text.lstrip())

Datasets_df=pd.DataFrame({"Dataset_Name" :pd.Series(Dataset_Name),
                           "Data_type": pd.Series(Data_type),
                           "task":pd.Series(task),
                           "attribute_type":pd.Series(attribute_type),
                           "No_of_instances":pd.Series(No_of_instances),
                          "No_of_Attribute":pd.Series(No_of_Attribute),
                          "year":pd.Series(year)
                          })
Datasets_df[:5]

,Dataset_Name,Data_type,task,attribute_type,No_of_instances,No_of_Attribute,year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
554,IIWA14-R820-Gazebo-Dataset-10Trajectories,,Regression,Integer,,,2020
555,Guitar Chords finger positions,Text,Classification,,2633,5,2020
556,Russian Corpus of Biographical Texts,Text,Classification,,200,2,2020
557,Codon usage,Multivariate,"Classification, Clustering",,13028,69,2020
558,Intelligent Media Accelerometer and Gyroscope ...,Time-Series,Classification,Real,800,9,2020